extends layout

block content
  h1 BitCash -- 
    a(href='http://joyceyan.github.io/bitcash') What is BitCash?
  hr
  .login
    h2 Initiate payment
    form(action='/initiate', method='post')
      input(type='email', name='to', placeholder='To', required='required')
      input(type='email', name='from', placeholder='From', required='required')
      input(type='text', name='subject', placeholder='Subject')
      input(type='text', name='text', placeholder='Message')
      button.btn.btn-primary.btn-block.btn-large(type='submit') Send Bitcoin
