extends layout

block content
  h1 BitCash
  .login
    h2 Initiate payment
    form(action='/initiate', method='post')
      input(type='email', name='to', placeholder='To', required='required')
      input(type='email', name='from', placeholder='From', required='required')
      input(type='number', name='subject', placeholder='Amount')
      input(type='text', name='text', placeholder='Message')
      button.btn.btn-primary.btn-block.btn-large(type='submit') Send Bitcoin
