extends layout

block content
  h1 Bitcash
  hr
  input(type='hidden', value=title, id='key')
  .form
    h3 Enter your Bitcoin Address to accept your funds
    input(type='text', class='user_address' placeholder='Your bitcoin address')
    button.btn.btn-primary.btn-block.btn-large(id='send') Send my coins